<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;
             color:  rgb(0, 97, 182);
             font-family: sans-serif;
        }
    </style>
    
</head>
<body>
    <header >
        <table width="100%">
            <tr >
                <td align="left"width="10%" >
                     <a href="../views/public_home.html">
                     <img src="../assets/logo.png"alt="company logo" width="200" height="40"> 
                    </a>
                </td>
                <td align="left">
                <h2 style="font-family: sans-serif;color: rgb(0, 132, 255);"> Van Gogh digital art marketplace</h2>
                </td>
                <td align="right">
                    <a href="../views/public_home.html"style>Home </a>  | &nbsp;
                    <a href="../views/Login.php">Login</a> 
                </td>
        
            </tr>
        </table>
        

    </header>
    
</body>
</html>