<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <table width="100%">
            <tr >
                <td align="left"width="10%" >
                     <a href="../View/public_home.html">
                     <img src="../Asset/logo.png"alt="company logo" width="200" height="50"> 
                    </a>
                </td>
                <td align="left">
                <h2> &nbsp; &nbsp;Van Gogh digital art marketplace</h2>
                </td>
                <td align="right">
                    <a href="../View/public_home.html">Home </a>  | &nbsp;
                    <a href="../View/Login.php">Login</a> 
                </td>
        
            </tr>
        </table>
        

    </header>
    <hr>
    
</body>
</html>